{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "coder/coder"
tap "databendcloud/tap"
tap "dopplerhq/cli"
tap "fluxcd/tap"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/services"
tap "int128/kubelogin"
tap "knative-extensions/kn-plugins"
tap "knative-sandbox/kn-plugins"
tap "knative/client"
tap "redpanda-data/tap"
tap "weaveworks/tap"
brew "age"
brew "libpng"
brew "readline"
brew "xz"
brew "apache-spark"
brew "argocd"
brew "arping"
brew "openssl@1.1"
brew "autojump"
brew "automake"
brew "awscli"
brew "bat"
brew "bdw-gc"
brew "boost"
brew "bottom"
brew "btop"
brew "c-ares"
brew "certbot"
brew "chezmoi"
brew "chruby"
brew "cilium-cli"
brew "cmake"
brew "coreutils"
brew "crane"
brew "curl"
brew "exa"
brew "gdbm"
brew "gh"
brew "git"
brew "libusb"
brew "pinentry"
brew "gnupg"
brew "go"
brew "helm"
brew "htop"
brew "hubble"
brew "jq"
brew "k9s"
brew "kamel"
brew "kind"
brew "kubernetes-cli"
brew "libffi"
brew "libyaml"
brew "maven"
brew "mosh"
brew "neofetch"
brew "neovim"
brew "nmap"
brew "node"
brew "openshift-cli"
brew "openssh"
brew "opentofu"
brew "operator-sdk"
brew "pnpm"
brew "ruby-install"
brew "rustup-init"
brew "s3cmd"
brew "sops"
brew "speedtest-cli"
brew "tailwindcss"
brew "tektoncd-cli"
brew "thefuck"
brew "tmux"
brew "tree"
brew "watch"
brew "wget"
brew "yarn"
brew "zoxide"
brew "zsh"
brew "coder/coder/coder"
brew "fluxcd/tap/flux"
brew "knative-extensions/kn-plugins/func"
brew "knative/client/kn"
brew "redpanda-data/tap/redpanda"
cask "adobe-acrobat-pro"
cask "affinity-designer"
cask "affinity-photo"
cask "aptakube"
cask "balenaetcher"
cask "bartender"
cask "canva"
cask "chatgpt"
cask "copilot"
cask "cursor"
cask "docker"
cask "dotnet-sdk"
cask "font-cascadia-code"
cask "font-jetbrains-mono-nerd-font"
cask "github"
cask "gitkraken"
cask "iterm2"
cask "jetbrains-toolbox"
cask "mono-mdk-for-visual-studio"
cask "multiviewer-for-f1"
cask "podman-desktop"
cask "raspberry-pi-imager"
cask "raycast"
cask "slack"
cask "tailscale"
cask "visual-studio-code"
cask "zoom"
cask "zulip"
vscode "4ops.terraform"
vscode "aaron-bond.better-comments"
vscode "apicurio.apicurio-registry-explorer"
vscode "bradlc.vscode-tailwindcss"
vscode "camel-karavan.karavan"
vscode "coder.coder-remote"
vscode "drewxs.tokyo-night-dark"
vscode "eamodio.gitlens"
vscode "franneck94.c-cpp-runner"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "github.remotehub"
vscode "github.vscode-github-actions"
vscode "golang.go"
vscode "hashicorp.terraform"
vscode "jackboosy.vcpkg-cmake-tools"
vscode "jeff-hykin.better-cpp-syntax"
vscode "kestra-io.kestra"
vscode "mikestead.dotenv"
vscode "ms-azuretools.vscode-docker"
vscode "ms-dotnettools.csdevkit"
vscode "ms-dotnettools.csharp"
vscode "ms-dotnettools.vscode-dotnet-runtime"
vscode "ms-dotnettools.vscodeintellicode-csharp"
vscode "ms-kubernetes-tools.vscode-kubernetes-tools"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.isort"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-toolsai.jupyter"
vscode "ms-toolsai.jupyter-keymap"
vscode "ms-toolsai.jupyter-renderers"
vscode "ms-toolsai.vscode-jupyter-cell-tags"
vscode "ms-toolsai.vscode-jupyter-slideshow"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode-remote.vscode-remote-extensionpack"
vscode "ms-vscode.cmake-tools"
vscode "ms-vscode.cpptools"
vscode "ms-vscode.cpptools-extension-pack"
vscode "ms-vscode.cpptools-themes"
vscode "ms-vscode.remote-repositories"
vscode "ms-vscode.resharper9-keybindings"
vscode "redhat.ansible"
vscode "redhat.apache-camel-extension-pack"
vscode "redhat.java"
vscode "redhat.vscode-apache-camel"
vscode "redhat.vscode-camelk"
vscode "redhat.vscode-debug-adapter-apache-camel"
vscode "redhat.vscode-kaoto"
vscode "redhat.vscode-knative"
vscode "redhat.vscode-microprofile"
vscode "redhat.vscode-openshift-connector"
vscode "redhat.vscode-quarkus"
vscode "redhat.vscode-redhat-account"
vscode "redhat.vscode-xml"
vscode "redhat.vscode-yaml"
vscode "rust-lang.rust-analyzer"
vscode "semgrep.semgrep"
vscode "signageos.signageos-vscode-sops"
vscode "simonsiefke.svg-preview"
vscode "tamasfe.even-better-toml"
vscode "tomoki1207.pdf"
vscode "twxs.cmake"
vscode "vadimcn.vscode-lldb"
vscode "visualstudioexptteam.intellicode-api-usage-examples"
vscode "visualstudioexptteam.vscodeintellicode"
vscode "vscjava.vscode-java-debug"
vscode "vscjava.vscode-java-dependency"
vscode "vscjava.vscode-java-pack"
vscode "vscjava.vscode-java-test"
vscode "vscjava.vscode-maven"
vscode "weaveworks.vscode-gitops-tools"
EOF
{{ end -}}
